

.category-products-container {
    height: 30vh;
    width: 200px;
    margin: 0px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    text-align: center;
}

.category-name {
    text-decoration: underline;
}